<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PoGoApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4407A7B11D3845AE00B67224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4407A7CA1D3845AE00B67224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4407A7D51D3845AE00B67224</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
